<p id="notice"><%= notice %></p>
<p>
 <strong>destination:</strong>
 <%= @destination.name %>
</p>

<p>
 <strong>Travel-Buget:</strong>
 <%= @destination.budget %>
</p>
<%= link_to 'My plans', destination_plans_path(@destination) %>




