/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Indie+Flower|Saira+Extra+Condensed&display=swap'); .navbar ul{
display: flex;
list-style: none;
// margin-left: 70%; 

}

.navbar li{
    margin-left: 30px;
}

.blockquote p{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color:whitesmoke;
}
.navbar h1{
    font-family: 'Gochi Hand', cursive;

    font-size: 50px;
    color: wheat;

}
.navbar a{
    font-family: 'Gochi Hand', cursive;

    // font-size: 50px;
    // font-weight: bold;
    font-size: 30px;
    color: wheat;
     text-shadow: 0 0 3px #FF0000, 0 0 5px #fff;
}


#new_plan{
    border: 2px solid black;
    // margin-left: 30%;
    margin-top: -5%;
    padding:50px;
}

// .btn{

//     margin-left:30%; 
// }
#tb{
width: 65%;
margin-right: 10%;
margin-left: 2%


}

#tb1{
    width: 50%;
}

#main{
    display: flex;
}

#wel{
    font-size: 20px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px rgb(13, 15, 161);
}

#new_destination{
    // text-align: center;
    // width: 50%;
    // margin-left:25% ;
    // padding-top: 10%;
    // padding-bottom:10%; 
    // padding-right:1%; 
    // padding-left:1%; 
    // border: 2px solid tomato;
    width: 33%;
    background: rgba(255,255,255,.8);
    padding: 4%;
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    margin-left:30%;
    text-align: center;
}
.container-fluid{
    font-size: 20px;
}
.container{
    
    background: rgba(255, 255, 255, 0.8);
    // background-image:url(1.jpg) ;
    background-repeat: no-repeat;
    padding: 4%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    margin-left: 30%;
    text-align: center;
    margin-bottom: 20px;
}

#container_width{
    width: 33%;
}

.btn  a{
    color :white;
}

// header{
//     display: flex;
//     justify-content: space-between;
//     /* flex-direction: row; */
//     background-color:gray;
//     color: white; 
//     border-bottom:4px solid cyan;
//     padding-left: 2%;
//     padding-right:2%; 
    
    

// }

body{
    // background-image:url(eiffel-tower.jpg) ;
    // background-repeat: no-repeat;
    // background-size:100% 200%;
    // height: 100vh;
    // width: 100vh;
    background-position: center top;
    background-size: cover;
    background-image: url(beach.jpg);
    background-repeat: no-repeat;
    // min-height: 75%;
    
}
.slogan{
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
}
// header{
//     display: flex;
//     justify-content: space-between;
//     background-image:url(world.jpg) ;
//     /* flex-direction: row; */
//     background-color:black;
//     color: white; 
//     border-bottom:4px solid yellow;
//     padding-left: 2%;
//     padding-right:2%; 
    

// }
// header a {
//     color:white;
// }

@import "bootstrap";
 @import "destinations";
 @import "home";